.subcat-container {
    padding: 15px;
    margin-bottom: 15px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

.subcat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-btn {
    background: #0f172a;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.subcat-card {
    background: white;
    margin-top: 15px;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #e5e7eb;
}

.subcat-table {
    width: 100%;
    border-collapse: collapse;
}

.subcat-table th {
    color: gray;
}

.subcat-table th,
.subcat-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.link-btn {
    border: none;
    background: none;
    color: #2563eb;
    cursor: pointer;
    margin-right: 10px;
}

.danger-btn,
.danger-filled-btn {
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.danger-btn {
    background: white;
    color: #dc2626;
    border: none
}

.danger-filled-btn {
    background: #dc2626;
    color: white;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 14px;
    width: 400px;
}

.modal.small {
    width: 350px;
}

.btn-row {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel {
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    background: white;
    cursor: pointer;
}

.save {
    background: #0f172a;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.delete-modal h3 {
    color: #b91c1c;
}